<div class="page">
    <app-project-search-params (searchClicked)="onSearchClicked($event)" />
    <div class="page__items">
        @for(project of projects$ | async; track project.id) {
            <app-project-card [project]="project"></app-project-card>
        }
    </div>
    <div class="page__pagination">
        <button [class.hidden]="!buttonPrevPageVisible()">Назад</button>
        {{ page$.value }}/{{ totalPages$.value }}
        <button [class.hidden]="!buttonNextPageVisible()">Вперед</button>
        <!-- <mat-form-field class="page__dropdown">
            <mat-select [formControl]="pageSizeForm">
              @for (pageSize of pageSizes; track pageSize) {
                <mat-option [value]="pageSize">{{ pageSize }}</mat-option>
              }
            </mat-select>
        </mat-form-field> -->
    </div>
</div>