<div class="page">
    <div class="page__header">
        <h1 class="title">Поиск проектов</h1>
        <button 
            (click)="exportToExcel()" 
            class="export-button" 
            [class.hidden]="!buttonExportToExcelVisible"
            [disabled]="totalPages$.value === 0">Сохранить в Excel</button>
    </div>
    <app-project-search-params (searchClicked)="onSearchClicked($event)" />
    <div class="page__items">
        @for(project of projects$ | async; track project.id) {
            <app-project-card [project]="project"></app-project-card>
        }
    </div>
    @if (totalPages$.value === 0) {
        <span class="page__pagination">Ничего не найдено!</span>
    }
    <div class="page__pagination">
        <button class="page__pagination-button" [class.hidden]="!buttonPrevPageVisible()" (click)="prevPage()">Назад</button>
        {{ getCurrentPage() }}/{{ totalPages$.value }}
        <button class="page__pagination-button" [class.hidden]="!buttonNextPageVisible()" (click)="nextPage()">Вперед</button>
        <!-- <mat-form-field class="page__dropdown">
            <mat-select [formControl]="pageSizeForm">
              @for (pageSize of pageSizes; track pageSize) {
                <mat-option [value]="pageSize">{{ pageSize }}</mat-option>
              }
            </mat-select>
        </mat-form-field> -->
    </div>
</div>