<div class="block">
    <h1 class="block__title">{{ project.title }}</h1>
    <h2 class="block__title">Статус: {{ getProjectStateString(project.state) }}</h2>
    @if (project.mark) {
        <h2 class="block__title">Оценка: {{ project.mark }}</h2>
    }
    <hr>
    <div class="card">

        <div class="card__item">
            <span class="card__label">Специальность:</span>
            <span>{{ project.speciality.title }}</span>
        </div>
        <div class="card__item">
            <span class="card__label">Описание:</span>
            <span>{{ project.description }}</span>
        </div>
        <div class="card__item">
            <span class="card__label">Дата начала:</span>
            <span>{{ project.startDate | date : 'dd.MM.yyyy' }}</span>
        </div>
        <div class="card__item">
            <span class="card__label">Предполагаемая дата окончания:</span>
            <span>{{ project.deadline | date : 'dd.MM.yyyy' }}</span>
        </div>
        <div class="card__item">
            <span class="card__label">Задач выполнено:</span>
            <span>{{ getCompletedTasks() }}%</span>
        </div>
        <div class="card__item">
            <span class="card__label">Расчетное время выполнения:</span>
            <span>{{ getEstimatedHumanHours() }} ч.ч.</span>
        </div>
        <div class="card__item">
            <span class="card__label">Фактическое время выполнения:</span>
            <span>{{ getActualHumanHours() }} ч.ч.</span>
        </div>
        @if (project.actualEndDate) {
            <div class="card__item">
                <span class="card__label">Фактическая дата окончания:</span>
                <span>{{ project.actualEndDate }}</span>
            </div>
        }
        <div class="card__item">
            <span class="card__label">Наставник:</span>
            <span>{{ project.teacher.userInfo.fullname }}</span>
        </div>
        
    </div>
</div>