<div class="card">
    <h1>Добавление ссылки</h1>
    <hr>
    <form class="form" [formGroup]="form">
        <div class="form__input-block">
            <label for="name">Название: </label>
            <input type="text" name="name" formControlName="name" />
        </div>
        <div class="form__input-block">
            <label for="url">Ссылка: </label>
            <input type="text" name="url" formControlName="url" />
        </div>
        <div class="text-center">
            <button class="form__button" (click)="onSaveClicked()" [disabled]="!form.valid">Сохранить</button>
            <button class="form__button" (click)="onCancelClicked()">Отмена</button>
        </div>
    </form>
</div>