@import '../../../styles.scss';

.side-menu {
    background-color: map-get($theme-color, sky-blue);
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transition: width 0.2s;

    &__options-grid {
        display: flex;
        flex-direction: column;
    }

    &__element {
        z-index: 100;
        margin: 10px;
        height: min-content;

        span {
            text-align: center;
        }
    }

    &__rolled-up {
        width: 30px;
    }

    &__roll-arrow {
        margin: auto 0;
        width: 30px;
    }
}
