<div class="profile">
    <div class="profile-card">
        <div class="profile-card__item">
            <span class="profile-card__label"> ФИО: </span>
            <span class="profile-card__element"> Гааг Глеб Александрович </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Тип аккаунта: </span>
            <span class="profile-card__element"> Студент </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Номер телефона: </span>
            <span class="profile-card__element">
                {{ '88005553535' | phone }}
            </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Электронная почта: </span>
            <span class="profile-card__element"> examplemail.ru </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Пароль: </span>
            <a class="profile-card__element"> Сменить пароль </a>
        </div>
        <div class="profile-card__buttons-row">
            <button class="profile-card__button">Выйти из аккаунта</button>
        </div>
    </div>
</div>
