<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="profile">
    <div class="profile-card">
        <div class="profile-card__avatar-item">
            <img class="profile-card__circular-image" src="{{ 'assets/' + getImageByRole() }}" alt="student image"/>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> ФИО: </span>
            <span class="profile-card__element"> {{ currentUser.fullname }} </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Тип аккаунта: </span>
            <span class="profile-card__element"> {{ getUserType() }} </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Номер телефона: </span>
            <span class="profile-card__element">
                {{ currentUser.phoneNumber | phone }}
            </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Электронная почта: </span>
            <span class="profile-card__element"> {{ currentUser.email }} </span>
        </div>
        <div class="profile-card__item">
            <span class="profile-card__label"> Пароль: </span>
            <a class="profile-card__element clickable" (click)="onChangePasswordClicked()"> Сменить пароль </a>
        </div>
        <div class="profile-card__buttons-row">
            <button (click)="onLogoutClicked()" class="profile-card__button">Выйти из аккаунта</button>
        </div>
    </div>
</div>
