/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$theme-blue: #198dce;
$theme-sky-blue: #9bdefb;
$theme-text: #20318a;

$theme-color: (
    theme: #161618,
    theme-light: #44444a,
    text: white,
    text-inverted: black,
    light-red: #ff6e6e,
    accent: #ffc4a2,
    dark-box: #2d2d2d,
    background-color: #9d9da8,
    button-background: #bd7946,
    item-selected: #666966,
    error: red,
    warn: yellow
);

* {
    color: map-get($theme-color, text);
}

input {
    color: map-get($theme-color, text-inverted);
}

body {
    background-color: map-get($theme-color, background-color);
}

@mixin button-base {
    border-radius: 15px;
    padding: 5px 15px;
    background-color: map-get($theme-color, button-background);

    &:hover {
        color: black;
        background-color: map-get($theme-color, accent);
        filter: brightness(85%);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
