<div class="auth">
    <div class="auth__wrapper">
        <img class="auth__logo" src="assets/logo.png">
        <div class="auth__card">
            <form class="form" [formGroup]="form" (submit)="signIn()">
                <div class="form__input-block">
                    <label for="email">Почта: </label>
                    <input type="text" name="email" placeholder="example@mail.ru" formControlName="login">
                </div>
                <div class="form__input-block">
                    <label for="password">Пароль: </label>
                    <input type="password" name="password" placeholder="********" formControlName="password">
                </div>
                <div class="text-center">
                    <input type="submit" class="form__button" value="Войти" [disabled]="!form.valid">
                </div>
            </form>     
        </div>
    </div>
</div>
