@import '../../../styles.scss';

:host {
    width: 100%;
    height: 100%;
}

.page {
    width: 80%;
    height: 100%;
    margin: 20px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: map-get($theme-color, theme-light);
    border-radius: 15px;

    &__row {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}


.loading {
    margin: 20px;
}