<div class="page" *ngIf="project$ | async as project else loading">
    <div class="page__buttons-wrapper" *ngIf="!readOnlyMode">
        <button class="page__button" (click)="onChangeStatusClicked()">Сменить статус</button>
        <button class="page__button">Редактировать</button>
    </div>
    <app-project-main-info-block [project]="project"></app-project-main-info-block>
    <div class="page__row">
        <!-- 
        DOCUMENTS
        CHAT
        -->
        <app-project-attachments-block [project]="project"></app-project-attachments-block>
    </div>
    @if (!readOnlyMode) {
        <app-project-tasks-block [project]="project" (tasksChanged)="onReload()"></app-project-tasks-block>
    }
</div>

<ng-template #loading>
    <div class="loading">Загрузка...</div>
</ng-template>