.block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container {
    border: 1px solid white;

    &__label {
        padding: 0;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid white
    }

    &__list {
        height: 100%;
    }

    &__box {
        text-align: center;
    }
}