<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="container-dropdown">
	<input style="display:none;" id="{{inputId}}" type="checkbox"/>
	<div class="dropdown">
        <label class="dropbtn" for="{{inputId}}">
            <span class="m-auto ml1 small-font">{{ getItemsString() ?? 'Невыбранно' }} ↓</span>
		</label>
		<div class="dropdown-content">
			<p *ngFor="let item of items" (click)="setElement(item)">
				<label [class.selected-item]="isItemSelected(item)" for="{{inputId}}">{{ item.title }}</label>
			</p>
		</div>
		<label for="{{inputId}}" class="overlay"></label>
	</div>
</div>