.footer {
    width: 100%;
    height: min-content;

    background: #363636;

    &__subtitle {
        width: fit-content;
        margin: 0 auto;
    }

    &__block-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__block {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__logo {
        width: 70%;
        margin-bottom: 10%;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        column-gap: 20px;
        height: min-content;
    }

    .map {
    }

    span,
    p {
        color: white;
    }

    a {
        color: #3395e1;
    }
}
