<footer class="footer">
    <div class="footer__block">
        <img class="footer__logo" src="assets/logo_white.png" alt="white logo VKI" />
        <span>
            © 2001–{{ currentYear }}
            <br />
            Высший колледж информатики НГУ
        </span>
    </div>
    <div class="footer__block">
        <span>
            Телефон: {{ phoneNumber }}
        </span>
        <span>
            Е-mail: <a href="mailto:{{ email }}">{{ email }}</a>
        </span>
        <span>
            Адрес: 630058, г. Новосибирск, ул. Русская, 35
        </span>
    </div>
    <div class="footer__block grid">
        <a href="{{ ciNsuRoutes.news }}">Новости</a>
        <a href="{{ ciNsuRoutes.about }}">Информация о колледже</a>
        <a href="{{ ciNsuRoutes.advert }}">Обьявления</a>
        <a href="{{ ciNsuRoutes.contacts }}">Контакты</a>
    </div>
    <div class="footer__block grid">
        <img class="footer__logo" src="assets/logo-white-nsu.svg" alt="white logo NSU" />
    </div>
</footer>
