<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="block">
    <span class="block__title">
        Приложения проекта
        @if (!readOnlyMode) {
            <img class="block__icon" src="assets/add-file.png" alt="Add Attachment" (click)="onAddFileClicked()"/>
            <img class="block__icon" src="assets/add-link.png" alt="Add Attachment" (click)="onAddLinkClicked()"/>
        }
    </span>
    <hr>
    @for (attachment of attachments$ | async; track attachment.id) {
        <span class="block__attachment" (click)="openAttachment(attachment)">{{ attachment.name }}</span>
    }
    <input #fileInput type="file" style="display:none" (change)="uploadFile($event)">
</div>