@import '../../../../styles.scss';

.card {
    padding: 20px;
    background-color: white;

    h1 {
        font-size: larger;
        margin: 0;
        color: map-get($theme-color, text-inverted);
    }

    hr {
        margin: 5px 0;
        display: block;
        border-top: 1px solid rgba(black, 0.4);
    }

    &__button {
        @include button-base;
        margin: 20px 5px 0 5px;
        border-radius: 5px;
        height: 40px;

        &:disabled {
            filter: brightness(0.6);
        }
    }

    .exit-button {
        background-color: map-get($theme-color, light-red);
    }
}