<div class="card">
    <h1>Смена пароля</h1>
    <hr>
    <form class="form" [formGroup]="form">
        <div class="form__input-block">
            <label for="oldPassword">Старый пароль: </label>
            <input type="password" name="oldPassword" formControlName="oldPassword" />
        </div>
        <div class="form__input-block">
            <label for="newPassword">Новый пароль: </label>
            <input type="password" name="newPassword" formControlName="newPassword" />
        </div>
        <div class="form__input-block">
            <label for="newPasswordConfirmation">Подтверждение пароля: </label>
            <input type="password" name="newPasswordConfirmation" formControlName="newPasswordConfirmation" />
        </div>
        <div class="text-center">
            <span class="form__hint" [class.hidden]="passwordsAreEqual()">
                Пароли разные!
            </span>
        </div>
        <div class="text-center">
            <span class="form__hint" [class.hidden]="!passwordLengthInvalid()">
                Длинна нового пароля должна <br> быть от 6 до 12 символов!
            </span>
        </div>
        <div class="text-center">
            <button class="form__button exit-button" (click)="onOkClicked()" [disabled]="buttonSaveDisabled()">Сохранить</button>
            <button class="form__button" (click)="onCancelClicked()">Отмена</button>
        </div>
    </form>
</div>